body {
    background-color: rgb(1, 1, 70);
}

h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h5 {
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.imagen {
    border-radius: 5px;
}
.container {
    width: 50%;  
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    justify-content: end;
}

.form-control {
    width: 100%;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: none;
}

#taskInput:focus {
    outline: none;
    box-shadow: none;
    border-color: #ced4da; /* color normal de Bootstrap */
}

.list-group-item {
    width: 100%;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.input-group {
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.task-completed {
    text-decoration: line-through;
    color: green; 
    transition: all 0.3s ease;
}

.label-total {
    color: #0d6efd; /* gris */
    font-weight: 500;
}

.label-completed {
    color: #198754; /* verde */
}

.label-pending {
    color: #dc3545; /* rojo */
}

.counter-total {
    color: #0d6efd; /* azul */
}

.counter-completed {
    color: #20c997; /* verde claro */
}

.counter-pending {
    color: #ff6b6b; /* rojo suave */
}